p{
color:red;
font-size:30;
text-align left:
}

h1{
color:blue;
font-size:50;
text-align:center;
}

h2{
color:green;
font-size:40;
text-align:right:
}
.lista{
color:red;
font-size:30;
}

#imagem{
text-aling:center;
}

#link{
text-aling:center;
}

p{ color:red;
font-size:30;
text-aling:left;
}

h1{
color:blue;
font-size:30;
text-aling:center;
} 

.rodape{
  boder-top-style:solid;
  backgroud:greenyellow;
  margin-bottom:-8px;
  margin-left:-8px;
  margin-right:-8px;
  padding:1px;
}

#rodape2{ 
  color:blue;
  text-align:center;
}

a
